.section {
  background-color: #302B34;
  height: 60rem;
  padding: 80px 0;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.heading {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #eb9e2c;
}

.paragraph {
  font-size: 18px;
  line-height: 1.5;
  color: #ede7e2;
  margin-bottom: 20px;
}
