.footer {
  background-color: #302B34;
  height: 7rem;
  color: #ede7e2;
  padding: 2rem;
  display: flex;
  text-align: center;
  justify-content: center;
}

.container {
  width: 20rem;
  display: flex;
  justify-content: space-around;
}

.copy {
  font-size: 0.8rem;
}

.link {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
  font-size: 1.2rem;
  margin: 0;
}

.link img {
  width: 3rem;
}

.link:hover {
  color: #f7df1e;
}
