@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

:root {
    --dark-color: #3f3944;
    --darker-color: #302B34;
    --normal-color: #eb9e2c;
    --light-color: #fdd9a3;
    --white-color: #ede7e2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #ede7e2;
    color: #3f3944;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: bold;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #ede7e2;
    background-color: #eb9e2c;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

button:hover {
    background-color: #e2811d;
}

textarea:focus,
input:focus{
    outline: none;
}
